body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    overflow: hidden;
    background-color: #C4D8E2;
    color: #fff;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
}

a {
    color: #0366d6;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.linker {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.linker a i {
    font-size: 24px;
}

h1 {
    color: #000;
}