/* corpo */
body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    overflow: hidden;
}

/* para os links */
a {
    color: #0366d6;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* container dos links */
.linker {
    display: gridzz;
}